<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Viseu Car Renting</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Viseu Car eRenting", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Catálogo", "Index", "Carros")</li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
                    {
                        <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>

                    }


                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "adminarea", "Home")</li>
                        <li>@Html.ActionLink("Utilizadores", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Tipos de Utilizadores", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>


                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Empresa"))
                    {
                        <li>@Html.ActionLink("Os meus funcionarios", "DetalhesFunc", "Account")</li>
                        <li>@Html.ActionLink("Registar Funcionarios", "RegisterFuncionarios", "Account")</li>
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Viseu Car eRenting</p>
            <p>Sobre nós</p>

            <center><p>Francisco Amaral - Miguel Fazenda</p></center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
