@model IEnumerable<Projeto2020.Models.ApplicationUser>

@{
    ViewBag.Title = "List of users";
}

<h2>Os meus funcionarios </h2>

<p>
    @Html.ActionLink("Registar novo funcionario", "RegisterFuncionarios")

</p>
<p>
    @Html.ActionLink("Registar novo membro da administração da empresa", "RegisterEmpresa")
</p>
<table class="table">
    <tr>
        <th>
            <h4>Funcionário</h4>
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "UsersAdmin", new { id = item.Id }, new { @style = "color:green;" }) |
                @Html.ActionLink("Details", "Details", "UsersAdmin", new { id = item.Id }, new { @style = "color:black;" }) |
                @Html.ActionLink("Delete", "Delete", "UsersAdmin", new { id = item.Id }, new { @style = "color:red;" })
            </td>
        </tr>
    }

</table>
