@model IEnumerable<Projeto2020.Models.Carro>

@{
    ViewBag.Title = "Catálogo de carros prontos a alugar";
}

<h2>Catálogo de carros</h2>

<style>
    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .parent-style-one {
        font-family: helvetica;
        text-decoration: none;
    }

    .table td {
        padding: 12px 15px;
    }

    .table th {
        padding: 12px 15px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.nome)
            </th>
            <th>
                <div>Nome da empresa</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @if (User.IsInRole("Cliente"))
                {
                    @Html.ActionLink("Reservar", "Reservar", "Clientes", new { id = item.idCarro }, null)
                }

            </td>
        </tr>
    }

</table>
