@model IEnumerable<Projeto2020.Models.Carro>

@{
    ViewBag.Title = "Os nossos carros";
}

<h2>Carros disponiveis para alugar</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (!(User.IsInRole("Cliente")))
        {
            @Html.ActionLink("Adicionar um carro", "Create")
        }
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deposito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.km)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deposito)
        </td>
        <td>
            @if (User.IsInRole("Empresa"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.idCarro })
                @Html.ActionLink("Delete", "Delete", new { id = item.idCarro })
            }


            @Html.ActionLink("Details", "Details", new { id = item.idCarro }) |

        </td>
    </tr>
}

</table>
