@model IEnumerable<Projeto2020.Models.Reserva>

@{
    ViewBag.Title = "Reservas confirmadas";
}

<h2>Alugueres Ativos</h2>

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carro.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FimReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoPrevisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEntregue)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carro.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InicioReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FimReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoPrevisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEntregue)
            </td>
        </tr>
    }

</table>