@model IEnumerable<Projeto2020.Models.Reserva>

@{
    ViewBag.Title = "Reservas confirmadas";
}

<h2>Reservas em ocorrência</h2>

<style>
    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .parent-style-one {
        font-family: helvetica;
        text-decoration: none;
    }

    .table td {
        padding: 12px 15px;
    }

    .table th {
        padding: 12px 15px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                Email do cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Categoria.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InicioReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FimReserva)
            </th>
            <th>
                Kilometros
            </th>
            <th>
                Deposito
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoPrevisto)
            </th>
</thead>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Carro.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Carro.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Carro.Categoria.nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InicioReserva)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FimReserva)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Carro.km)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.Carro.deposito)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.CustoPrevisto)
    </td>
</tr>
    }

</table>