@model IEnumerable<Projeto2020.Models.Reserva>

@{
    ViewBag.Title = "As minhas reservas";
}

<h2>As minhas reservas</h2>

<p>
    @Html.ActionLink("Nova reserva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carro.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carro.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataReserva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Carro.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Carro.Modelo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DataReserva)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idReserva }) |
        @Html.ActionLink("Details", "Details", new { id = item.idReserva }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.idReserva })
    </td>
</tr>
}

</table>
