@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Viseu Car eRenting</h1>
    <p class="lead">Viseu car eRenting is one of the first available options of renting cars in the district of Viseu, just one click away!</p>
    <p><a href='@Url.Action("Index", "Carros")' class="btn btn-primary btn-lg">Our catalog&raquo;</a></p>
</div>

<div class="row">
    @if (!(User.Identity.IsAuthenticated))
    {
        <div class="col-md-4">
            <h2>Registar como cliente</h2>
            <p>Para efetuar reservas!</p>
            <input type="button" class="btn btn-info" value="Registar como cliente »" onclick="location.href='@Url.Action("Register", "Account", new { id = 1})'" />
        </div>
    }
    @if (!(User.Identity.IsAuthenticated) || User.IsInRole("Cliente"))
    {
        <div class="col-md-4">
            <h2>Ver catálogo de produtos</h2>
            <p>
                Ver os nossos veiculos e preçários!
            </p>
            <input type="button" class="btn btn-info" value="Ver catálogo »" onclick="location.href = '@Url.Action("Index", "Carros")'" />
        </div>
        <div class="col-md-4">
            <h2>Registar como empresa de Renting</h2>
            <p>Pode registar aqui a sua empresa de renting!</p>
            <input type="button" class="btn btn-info" value="Registar como empresa »" onclick="location.href = '@Url.Action("Register", "Account", new { id=2})'" />
        </div>
    }
    @if (User.IsInRole("Empresa"))
    {
        <div class="col-md-4">
            <h2>Gestão do catalógo de veículos</h2>
            <p>Pode ver aqui os veículos da empresa e adicionar novos!</p>
            <input type="button" class="btn btn-info" value="Ver veículos »" onclick="location.href = '@Url.Action("IndexEmpresa", "Carros")'" />
        </div>
        <div class="col-md-4">
            <h2>Verificações a veiculos</h2>
            <p>Aqui pode adicionar verificações novas e ver as suas verificações a cada tipo de viatura!</p>
            <input type="button" class="btn btn-info" value="Ver verificações »" onclick="location.href = '@Url.Action("MyVerificacao", "Empresa")'" />
        </div>
        <div class="col-md-4">
            <h2>Ver detalhes sobre a sua empresa</h2>
            <p>Pode fazer a gestão dos administradores e funcionários da sua empresa</p>
            <input type="button" class="btn btn-info" value="Ver detalhes da empresa »" onclick="location.href = '@Url.Action("DetalhesFunc", "Account")'" />
        </div>
    }
</div>

@*
    <div class="about_us">
        <h2>Sobre nós</h2>
        <div class="foto_francisco">
            <img src="~/assets/img/fotominha.jpg" style=";
            float: left;
            width: 200px;
            height: 200px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;"
                 alt="fotoxico" />
        </div>
        <div class="foto_miguel">
            <img src="~/assets/img/fotomiguel.jpg" style="
             float: right;
            width: 200px;
            height: 200px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;"
            alt="fotomiguel" />
        </div>
        <div class="texto_centro">
            <h3 style="color:#333;text-align:center;text-transform:uppercase">isto e um teste</h3>
        </div>

    </div>
*@
